body {
    background-color: #f4f6f9;
}

.navbar {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

.main-container {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

